<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= image_tag @picture.url %>
</p>

<p>
  <strong>Product:</strong>
  <% if (@picture.product == nil) %>
    <%= "Product does not exist in database." %>
  <% else %>
    <%= @picture.product.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |

<% if @picture.product.nil? %>
  <%= link_to 'Back', pictures_path %>
<% else %>
  <%= link_to 'Back', @picture.product %>
<% end %>
